%h1.general-title-margin Checkout
%ul.steps.list-inline
  %li.step.active
    %span.step-number 1
    %span.step-text.hidden-xs Address
  %li.step-divider
  %li.step
    %span.step-number 2
    %span.step-text.hidden-xs Delivery
  %li.step-divider
  %li.step
    %span.step-number 3
    %span.step-text.hidden-xs Payment
  %li.step-divider
  %li.step
    %span.step-number 4
    %span.step-text.hidden-xs Confirm
  %li.step-divider
  %li.step
    %span.step-number 5
    %span.step-text.hidden-xs Complete
