- order ||= current_order
%tr
  %td
    %p.font-16 Item Total:
  %td
    %p.font-16 €#{order.subtotal}
- if order.coupon
  %tr
    %td
      %p.font-16 Coupon:
    %td
      %p.font-16 € #{order.coupon.value}
- if order.delivery
  %tr
    %td
      %p.font-16 Shipping:
    %td
      %p.font-16 €#{order.delivery.price}
%tr
  %td
    %p.font-16 Order Total:
  %td
    %p.font-16 €#{order.total}
