%main.container.general-main-wrap
  %h1.general-title-margin Order #{@order.id}
  .row.mb-20
    .col-sm-3
      %h3.general-subtitle.mt-0 Shipping Address
      %p.general-address
        John Doe
        %span.general-edit edit
        %br
        44 Fifth Ave v231
        %br
        New York NY 1001
        %br
        United States
        %br
        Phone +16507599755
    .col-sm-3
      %h3.general-subtitle.mt-0 Billing Address
      %p.general-address
        John Doe
        %span.general-edit edit
        %br
        44 Fifth Ave v231
        %br
        New York NY 1001
        %br
        United States
        %br
        Phone +16507599755
    .col-sm-3
      %h3.general-subtitle.mt-0 Shipments
      %p.general-address
        Delivery Next Day!
        %span.general-edit edit
        %br
        By train
    .col-sm-3
      %h3.general-subtitle.mt-0 Payment Information
      %p.general-address
        ** ** ** 8756
        %span.general-edit edit
        %br
        12/2018
  .visible-xs
    .general-cart-item.divider-lg
      .general-img-wrap-table
        %img.cart-img-shadow.width-full{src: "http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg", alt: "design-book"}
      %p.general-title Android Programming for Beginners
      %P.in-grey-600.font-weight-light A recipe-based book to help you efficiently create amazing PHP-based applications with Laravel 5.x
      %table.table
        %tr
          %td
            %span.in-grey-600 Price
          %td
            %span.font-16.in-gold-500 €28.50
        %tr
          %td.vertical-middle
            %span.in-grey-600 Quantity
          %td
            %span 1
        %tr
          %td
            %span.in-grey-600 SubTotal
          %td
            %span.font-16.in-gold-500 €32.90
    .general-cart-item.divider-lg.mb-55
      .general-img-wrap-table
        %img.cart-img-shadow.width-full{src: "http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg", alt: "design-book"}
      %p.general-title Android Programming for Beginners
      %table.table
        %tr
          %td
            %span.in-grey-600 Price
          %td
            %span.font-16.in-gold-500 €28.50
        %tr
          %td.vertical-middle
            %span.in-grey-600 Quantity
          %td
            .input-group
              %a.input-link{href: "#"}
                %i.fa.fa-minus.line-height-40
              %input.form-control.quantity-input{type: "text"}
              %a.input-link{href: "#"}
                %i.fa.fa-plus.line-height-40
        %tr
          %td
            %span.in-grey-600 SubTotal
          %td
            %span.font-16.in-gold-500 €32.90
  .hidden-xs.divider-lg.pt-20
    %table.table.table-hover
      %thead
        %tr
          %th
            %span.in-grey-600 Book
          %th.col-method
          %th
            %span.in-grey-600 Price
          %th
            %span.in-grey-600 Quantity
          %th
            %span.in-grey-600 Total
      %tbody
        %tr
          %td
            .general-img-wrap-table
              %img.cart-img-shadow.pull-left.width-full{src: "http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg", alt: "design-book"}
          %td
            %p.general-title Android Programming for Beginners
            %p.in-grey-600.font-weight-light Maximize the potential of Bootstrap with a collection of real-world site projects for better, faster, more responsive web applications
          %td
            %span.font-16.in-gold-500 €28.50
          %td
            %span.ml-30 1
          %td
            %span.font-16.in-gold-500 €32.90
  .text-center.general-text-right
    %p.in-gold-500.font-18 Order Summary
    %table.general-summary-table.general-summary-table-right.general-text-right
      %tr
        %td
          %p.font-16 Subtotal:
        %td
          %p.font-16 €117.69
      %tr
        %td
          %p.font-16 Coupon:
        %td
          %p.font-16 €0.00
      %tr
        %td
          %strong.font-18 Order Total:
        %td
          %strong.font-18 €117.69
  .text-center
    %button.btn.btn-default.mb-20 Place Order
