%main.container
  %h1.general-title-margin=t :catalog
  = render partial: '/categories/filter'
  .mb-120
    .row
      =render partial: '/categories/books', locals: {books: books}
    .text-center.view_more
      =link_to_next_page books, t(:view_more), class: "btn btn-primary", remote: true
