.hidden-xs.clearfix
  .pull-right
    .dropdown
      %a.dropdown-toggle.dropdown-btn.width-240{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
        Newest first
        %i.fa.fa-angle-down.dropdown-icon
      %ul.dropdown-menu
        %li
          %a{href: "?filter=newest_first"} Newest first
        %li
          %a{href: "?filter=popular_first"} Popular first
        %li
          %a{href: "?filter=price_low_to_hight"} Price: Low to hight
        %li
          %a{href: "?filter=price_hight_to_low"} Price: Hight to low
  %ul.list-inline.pt-10.mb-25.mr-240
    %li.mr-35
      %a.filter-link{href: "#"}
        All
        %span.badge.general-badge= @books_count
    - categories.each do |category|
      %li.mr-35
        %a.filter-link{href: "/categories/#{category.id}"}
          = category.name
          %span.badge.general-badge= category.books.count
.mb-40.visible-xs
  %p.in-grey-600.small.mb-10 Filter by category
  .dropdown.mb-20
    %a.dropdown-toggle.dropdown-btn.width-100{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
      Newest first
      %i.fa.fa-angle-down.dropdown-icon
    %ul.dropdown-menu
      %li
        %a{href: "?filter=newest_first"} Newest first
      %li
        %a{href: "?filter=popular_first"} Popular first
      %li
        %a{href: "?filter=price_low_to_hight"} Price: Low to hight
      %li
        %a{href: "?filter=price_hight_to_low"} Price: Hight to low
  %p.in-grey-600.small.mb-10 Sort by
  .dropdown
    %a.dropdown-toggle.dropdown-btn.width-100{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
      Newest first
      %i.fa.fa-angle-down.dropdown-icon
    %ul.dropdown-menu
      %li
        %a{href: "#"} Newest first
      %li
        %a{href: "#"} Popular first
      %li
        %a{href: "#"} Price: Low to hight
      %li
        %a{href: "#"} Price: Low to hight
