%header.navbar.navbar-default
  .container
    .navbar-header
      %button.navbar-toggle.pull-left.ml-15{type: "button", 'data-toggle': "collapse", 'data-target': "#navbar"}
        %span.sr-only
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand Bookstore
      %a.shop-link.pull-right.visible-xs{href: "/"}
        %span.shop-icon
          %span.shop-quantity 3
    %a.shop-link.pull-right.hidden-xs{href: "/"}
      %span.shop-icon
        %span.shop-quantity 3
    #navbar.navbar-collapse.collapse.pl-30{'aria-expanded': "false"}
      .visible-xs
        %button.close{type: "button", 'aria-label': "Close"}
          %span{'aria-hidden': "true"} &times;
        %ul.nav.navbar-nav
          %li
            %a{href: "/"} Home
          %li
            %a{type: "button", 'data-toggle': "collapse", href: "/", 'aria-expanded': "false", 'aria-controls': "menu"} Shop
            %ul#menu.collapse.list-unstyled.pl-30.mb-10{'aria-expanded': "false"}
            - categories.each do |category|
              %li
                %a.collapse-link{href: "/categories/#{category.id}"}= category.name
            - if user_signed_in?
              %li
                %a{href: "/account"} My account
        - if user_signed_in?
          %li
            %a{type: "button", 'data-toggle': "dropdown", href: "/", 'aria-expanded': "false"} My account
            %ul.dropdown-menu
              %li
                %a.collapse-link{href: "/orders"} Orders
              %li
                %a.collapse-link{href: "/settings"} Settings
              %li.divider{role: "separator"}
              %li
                %a.collapse-link{href: "/logout"} Log out
        - else
          %li
            %a{href: "/login"} Log In
          %li
            %a{href: "/signin"} Sign Up
      .hidden-xs
        %ul.nav.navbar-nav
          %li
            %a{href: "/"} Home
          %li.dropdown
            %a.dropdown-toggle{href: "/", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"} Shop
            %ul.dropdown-menu
              - categories.each do |category|
                %li
                  %a.collapse-link{href: "/categories/#{category.id}"}= category.name
              - if user_signed_in?
                %li.divider{role: "separator"}
                %li
                  %a{href: "/account"} My account
            - if user_signed_in?
              %li
                %a{type: "button", 'data-toggle': "dropdown", href: "/", 'aria-expanded': "false"} My account
                %ul.dropdown-menu
                  %li
                    %a.collapse-link{href: "/orders"} Orders
                  %li
                    %a.collapse-link{href: "/settings"} Settings
                  %li.divider{role: "separator"}
                  %li
                    %a.collapse-link{href: "/logout"} Log out
            - else
              %li
                %a{href: "/login"} Log In
              %li
                %a{href: "/signin"} Sign Up
