%li
  =link_to t(:mobile_development), '/?category=mobile_development', class: 'collapse-link'
%li
  =link_to t(:photo), '/?category=photo', class: 'collapse-link'
%li
  =link_to t(:web_design), '/?category=web_design', class: 'collapse-link'
%li
  =link_to t(:web_development), '/?category=web_development', class: 'collapse-link'
